{{ define "hero" }}
<section class="hero is-info"> 
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        {{ .Title }}
      </p>
      <p class="subtitle">
        
      </p>
    </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
  <div class="columns">    
    <div class="column is-one-fifth">
      <div class="card>">
        <div>
          <figure class="image">
            <img src="MiguelAlho-768x768.jpg" class="is-rounded"/>
          </figure>
        </div>  
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Miguel Alho</p>
              <p class="subtitle is-6">@MytyMyky</p>
            </div>
          </div>      
          
          <div class="content">
            {{ .Description }}
          </div>
        </div>
      </div>


      
    </div>
    <div class="column">
      {{ .Content }}
      
    </div>

    <div class="column is-one-fifth">

    </div>
  </div>
{{ end }}