<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/custom.css">
  </head>
  <body>
    {{ block "header" . }}{{ partial "header.html" .}}{{ end }}
    {{ block "hero" . }}{{ end }}
    {{ block "media" . }}{{ end }}      
    <div class="container content">        
        {{ block "main" . }}{{ end }}        
    </section>
    {{ block "footer" . }}{{ partial "footer.html" .}}{{ end }}
  </body>
</html>
