{{ define "hero" }}
<section class="hero is-info"> 
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        {{ .Title }}
      </p>
      <p class="subtitle">
        
      </p>
    </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li style="list-style: none;">            
            <span class="tag" style="width: 150px;">{{.Date.Format "2006-01-02"}}</span><a href="{{.Permalink}}"> | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
{{ end }}