{{ define "hero" }}
<section class="hero is-info"> 
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        {{ .Title }}
      </p>
      <p class="subtitle">
        
      </p>
    </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
<section>
  <div class="columns">
  <div class="column is-one-fifth">
    <span class="tag datetag">{{.Date.Format "2006-01-02"}}</span>
  </div>
  <div class="column">
    {{ .Content }}
  </div>
  <div class="column is-one-fifth">
    
  </div>
</div>
</section>
   

{{ end }}