<section>
    <nav class="nav">
        <div class="navbar-left">
            Miguel Alho
        </div>
        <div class="nav-center">
            <a class="nav-item" href="https://github.com/miguelalho" target="_blank" title="github">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
            </a>
        
            <a class="nav-item" href="https://twitter.com/MytyMyky" target="_blank" title="twitter">
                <span class="icon">
                    <i class="fa fa-twitter"></i>
                </span>
            </a>

            <a class="nav-item" href="https://www.linkedin.com/in/miguelalho" target="_blank" title="linkedin">
                <span class="icon">
                    <i class="fa fa-linkedin"></i>
                </span>
            </a>
        </div>
        <div class="nav-right nav-menu">
            <a class="nav-item" href="/posts">Posts</a></div>
            <a class="nav-item" href="/about">About</a></div>
        </div>
    </nav>
</section>