<section>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">Miguel Alho</a>
            <img class="no-grav" src="http://gravatar.com/avatar/ecbcde0…/?s=100&d=mm" height="100" width="100" alt="Miguel Alho">
        </div>
        <div class="navbar-end navbar-menu">
            <div class="navbar-item">
                <a class="navbar-item" href="https://github.com/miguelalho" target="_blank" title="github">
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
        
                <a class="navbar-item" href="https://twitter.com/MytyMyky" target="_blank" title="twitter">
                    <span class="icon">
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>

                <a class="navbar-item" href="https://www.linkedin.com/in/miguelalho" target="_blank" title="linkedin">
                    <span class="icon">
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
            </div>
            <div class="navbar-item">
                <a class="navbar-item" href="/posts">Posts</a>
            </div>
            <div class="navbar-item">
                <a class="navbar-item" href="/about">About</a>
            </div>
        </div>
    </nav>
</section>