{{ define "main" }}
<div class="notification is-info has-text-centered">featured content</div>
  
{{ range first 3 .Site.Taxonomies.tags.featured }}
<div class="columns">
    <div class="column is-one-fifth" style="text-align-last: right;">
       
    </div>
    <div class="column">
        <ul class="listing">
            <li>            
                <span class="tag datetag">{{.Page.Date.Format "2006-01-02"}}</span><a href="{{.Page.Permalink}}"> {{.Page.Title}}</a>
                {{ range $tag := .Params.Tags }}
                    <span class="tag is-info is-light is-rounded">{{ $tag }}</span>
                {{ end }}
            </li>
            {{ end }}
        </ul>
        
    </div>
    <div class="column is-one-fifth">
    
    </div>
</div>

<section>
  <div class="notification is-info has-text-centered">Check out these community projects</div>
  <div class="level">
    
    <div class="level-item">Devops Aveiro</div>
    <div class="level-item">DevOps Porto</div>
    <div class="level-item">Devopsdays Portugal</div>
  </div>
</section>
{{ end }}