{{ define "main" }}

<div class="message is-info">
  <div class="message-header">
    Featured Posts
  </div>
  <div class="message-body">
    {{ range first 3 .Site.Taxonomies.tags.featured }}
      <div class="tile is-child box">
        <span class="tag datetag">{{.Page.Date.Format "2006-01-02"}}</span><a href="{{.Page.Permalink}}"> {{.Page.Title}}</a>
      </div>
    {{ end }}
  </div>
</div>

<div class="message is-info">
  <div class="message-header">
    Community Projects
  </div>
  <div class="message-body">


<div class="tile is-ancestor">
  <div class="tile is-parent message is-info">
   
    <!-- <div class="tile notification is-info is-child box is-2">
      <p class="subtitle">community projects</p>
    </div> -->
    
    <div class="tile is-parent">      
      <div class="tile is-child box">
        <div style="height:244px;">
          <figure class="image">
            <a href="https://www.meetup.com/pt-BR/devops-aveiro/" target="_blank">
                <img src="devopsaveiro.png" alt="devops aveiro logo" />
              </a>
            </figure>
          </div>
      </div>

      <div class="tile is-child box">
         <div class="card-image" style="height:244px;">
            <figure class="image">
              <a href="https://www.meetup.com/pt-BR/devopsporto/" target="_blank">
                <img src="devopsporto.jpg" alt="devops porto logo"/>
              </a>
            </figure>
          </div>
          
      </div>
      
      <div class="tile is-child box">
          <div class="card-image" style="height:244px;">
            <figure class="image">
              <a href="https://devopsdays.org/events/2023-portugal/welcome/" target="_blank">
                <img src="devopsdaysportugal.png" alt="devopsdays Portugal logo" />
              </a>
            </figure>
          </div>
      </div>
    </div>
      </div>  
    </div>
  </div>
</div>

<div class="message is-info">
  <div class="message-header">
    Latest Bookmarks
  </div>
  <div class="message-body">
    {{ range first 5 .Site.Taxonomies.tags.bookmark }}
    <div class="tile is-child box">
      <span class="tag datetag">{{.Page.Date.Format "2006-01-02"}}</span><a href="{{.Page.Permalink}}"> {{.Page.Title}}</a>
      {{ range $tag := .Params.Tags }}
      <span class="tag is-info is-light is-rounded">{{ $tag }}</span>
      {{ end }}
    </div>      
    {{ end }}   
  </div>
</div>

{{ end }}