{{ define "hero" }}
{{ partial "title.html" (dict "title" .Title) }}
{{ end }}

{{ define "media" }}
{{ if and ( and (isset .Page.Params "video") ( isset .Page.Params.Video "source" )) ( eq .Page.Params.Video.Source "youtube")  }}
  {{ partial "videoSection.html" (dict "link" .Page.Params.Video.Link) }}
{{ end}}
{{ if and ( and (isset .Page.Params "article") ( isset .Page.Params.Article "links" )) }}
  {{ partial "articleReferenceSection.html" (dict "links" .Page.Params.Article.Links) }}
{{ end}}
{{ end }}


{{ define "main" }}
<section>
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <article class="message">
        <div class="message-body">
          {{ .Summary }}
        </div>
      </article>
  </div>
</div>
</section>
    
  {{ if isset .Page.Params "notes"  }}
<section class="level notes-header">
  <div class="level-item has-text-centered">
    <h2>My notes & takeaways</h2>
  </div> 
</section>

    {{ $.Scratch.Set "noteid" 0 }}
    {{ $.Scratch.Set "noteclass" 0 }}

    {{ range .Page.Params.Notes  }}
      {{ $.Scratch.Set "noteid" (add ($.Scratch.Get "noteid") 1) }}
      
      {{ if eq .type "note" }}
        {{ $.Scratch.Set "noteclass" "is-info" }}
      {{ else if eq .type "slide" }}
        {{ $.Scratch.Set "noteclass" "is-info" }}
      {{ else if eq .type "quote" }}
        {{ $.Scratch.Set "noteclass" "is-dark quotenote" }}
      {{ else if eq .type "comment" }}
        {{ $.Scratch.Set "noteclass" "is-primary" }}
      {{ end }}
<section>
  <div class="columns">
  <div class="column is-2" style="text-align-last: right;">
    {{ if isset . "time" }}
      <button onclick="seekToTime('{{ .time }}')" class="button is-light is-link is-small" >
        <i class="fa fa-play"></i>&nbsp;&nbsp;{{ .time }}
      </button>
    {{ end }}
    <span class="icon">
      <a href="#{{ $.Scratch.Get "noteid" }}"><i class="fa fa-link"></i></a>
    </span>
  </div>
  <div class="column is-8">
      <article class="message {{ $.Scratch.Get "noteclass" }}" id="{{ $.Scratch.Get "noteid" }}">
        {{ if .title }}
        <div class="message-header">
          <p>{{ .title }} </p>
        </div>
        {{ end }}
        <div class="message-body">
          {{ if .image }}
          <img src="/bookmarks/{{ .image }}" class=""/>
          {{ end }}
          {{ .content | markdownify}}
        </div>
      </article>
    </div>
    <div class="column is-3">
      {{ if and ( isset . "comment" ) ( ne ( trim .comment  " ") "" ) }}
      <article class="message is-info is-small">
        <div class="message-body">
          {{ .comment }}
        </div>
      </article>
      {{ end }}
    </div>
  </div>
  </section>
    {{ end }}
    {{ end }}

    {{ .Content }}
  </div>
  <div class="column is-one-fifth">

  </div>
</div>
</section>
{{ end }}