{{ define "hero" }}
{{ partial "title.html" (dict "title" .Title) }}
{{ end }}

{{ define "main" }}
{{ if and ( and (isset .Page.Params "video") ( isset .Page.Params.Video "source" )) ( eq .Page.Params.Video.Source "youtube")  }}
  {{ partial "videoSection.html" (dict "link" .Page.Params.Video.Link) }}
{{ end}}

<section>
  <div class="columns">
  <div class="column is-one-fifth">
    <!-- <span class="tag datetag">{{.Date.Format "2006-01-02"}}</span> -->
  </div>
  <div class="column">
    <article class="message">
      <div class="message-body">
        {{ .Summary }}
      </div>
    </article>
  </div>
  <div class="column is-one-fifth">

  </div>
</div>
</section>
    
    {{ if isset .Page.Params "notes"  }}
<section class="level notes-header">
  <div class="level-item has-text-centered">
    <h2>Notes & Comments</h2>
  </div> 
</section>
    {{ $.Scratch.Set "noteid" 0 }}
    {{ $.Scratch.Set "noteclass" 0 }}

    {{ range .Page.Params.Notes  }}
      {{ $.Scratch.Set "noteid" (add ($.Scratch.Get "noteid") 1) }}
      
      {{ if eq .type "note" }}
        {{ $.Scratch.Set "noteclass" "is-info" }}
      {{ else if eq .type "quote" }}
        {{ $.Scratch.Set "noteclass" "is-dark quotenote" }}
      {{ else if eq .type "comment" }}
        {{ $.Scratch.Set "noteclass" "is-primary" }}
      {{ end }}
<section>
  <div class="columns">
  <div class="column is-one-fifth" style="text-align-last: right;">
    <span class="tag datetag icon"><i class="fa fa-play"></i>&nbsp;&nbsp;{{ .time }}</span>
    <span class="icon">
      <a href="#{{ $.Scratch.Get "noteid" }}"><i class="fa fa-link"></i></a>
    </span>
  </div>
  <div class="column">
      <article class="message {{ $.Scratch.Get "noteclass" }}" id="{{ $.Scratch.Get "noteid" }}">
        <!-- <div class="message-header">
          <p>{{ .type }} </p>
        </div> -->
        <div class="message-body">
          {{ .content | markdownify}}
        </div>
      </article>
    </div>
    <div class="column is-one-fifth">
      {{ if and ( isset . "comment" ) ( ne ( trim .comment  " ") "" ) }}
      <article class="message is-info is-small">
        <div class="message-body">
          {{ .comment }}
        </div>
      </article>
      {{ end }}
    </div>
  </div>
  </section>
    {{ end }}
    {{ end }}

    {{ .Content }}
  </div>
  <div class="column is-one-fifth">

  </div>
</div>
</section>
{{ end }}