.navbar {
    border-bottom: solid 1px grey;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color:#3e8ed0;
}

.content ul.listing {
    list-style: none;
    margin:0;
}

li { 
    margin-bottom: 10px;
    
}
.datetag{
    width: 120px;
}

.content {
    font-size: 1.125rem;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

.yearblock {
    margin-bottom: 60px !important;
}

.yeartag{
    font-weight: bold;
}

.notes-header{
    margin-top: 80px;
}
.quotenote{
    font-style: italic;
}
.quotenote .message-body::before, .message blockquote::before{
    font-family: FontAwesome;
    content: "\f10d"
}
.quotenote .message-body::after, .message blockquote::after{
    font-family: FontAwesome;
    content: "\f10e"
}

#thing_to_stick {
    position: sticky;
    top: 0px;
    z-index: 1000;
    padding: 20px;
}

.articleRefLinks li {
    list-style: none;
}

.articleRefLinks li i{
    margin-right: 30px;
}