.navbar {
    border-bottom: solid 1px grey;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color:#3e8ed0;
}

.content ul.listing {
    list-style: none;
    margin:0;
}

li { 
    margin-bottom: 10px;
    
}
.datetag{
    width: 120px;
}

.content {
    font-size: 1.125rem;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

.yearblock {
    margin-bottom: 60px !important;
}

.yeartag{
    font-weight: bold;
}

.notes-header{
    margin-top: 80px;
}
.quotenote{
    font-style: italic;
}
.quotenote .message-body::before{
    font-family: FontAwesome;
    content: "\f10d"
}
.quotenote .message-body::after{
    font-family: FontAwesome;
    content: "\f10e"
}

.fixed-video-content {
    position: fixed;
    top: 0;
    bottom:0;

    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    overflow-y: scroll;
    overflow-x: hidden;
}